@model Portofolio.ModelsView.UserModelView

<tr id="user-@Model.User.Id">

	<td>@Model.User.Nom</td>
	<td>@Model.User.Prenom</td>
	<td>@Model.User.Identifiant</td>

	<td>
		@Html.ActionLink("Edit", "ModifierUser", "Account", new { id = Model.User.Id }) |
		@Html.ActionLink("Details", "UserDetail", new { id = Model.User.Id })  |

		<button name="supprimer-user" id="user-action-supprimer" class="btn  btn-danger" type="button">Supprimer</button>
	</td>
</tr>
