@model Portofolio.Models.User
@{
	ViewBag.Title = "UserDetail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nom</h2>
<ul>
	<li>Nom: @Model.Nom</li>
	<li>Prenom : @Model.Prenom</li>
	<li>Identifiant : @Model.Identifiant</li>
	<li>Type : @Model.Type</li>
	<li>Type : @Model.contact.Email</li>

	<li>
		<a href="@Url.Action("ListUser", "Account")">
			<span class="glyphicon glyphicon-step-backward "></span> Retour
		</a>
	</li>
</ul>
